/.idea/

/tara.server/node_modules/
/tara.server/.idea/
/tara.server/.env

/tara.vue/node_modules/
/tara.vue/.idea/
/tara.vue/.env
/tara.vue/dist/

/mal-simulator.server/
/simulator.server/test/malsim/

/sample/logs/